@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: monospace, sans-serif;
	font-style: normal;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-color: #FEFDFB
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

body {
	@apply antialiased bg-[#FEFDFB] dark:bg-gray-900 text-[#333531] dark:text-[#FEFDFB];
}

a {
	@apply text-[#A76031] dark:text-[#f58282] hover:text-[#A78051] transition-colors dark:hover:text-[#f592a2];
}

h1 {
	@apply text-3xl font-bold text-gray-900 dark:text-[#FEFDFB];
}

h2 {
	@apply text-2xl font-semibold text-gray-800 dark:text-[#FEFDFB];
}

h3 {
	@apply text-xl font-medium text-gray-700 dark:text-[#FEFDFB];
}

p {
	@apply text-base text-gray-600 dark:text-[#FEFDFB] pb-8;
}

ul {
	@apply list-disc pl-5;
}

li {
	@apply mb-1;
}

pre {
   display: flex;
   justify-content: center;
   align-self: center;
   @apply pb-8;
}

.katex-display > .katex {
	display: inline-block;
	white-space: nowrap;
	max-width: 100%;
	overflow-x: scroll;
	text-align: initial;
  }
  .katex {
    font: normal 1.21em KaTeX_Main, Times New Roman, serif;
    line-height: 1.2;
    white-space: normal;
    text-indent: 0;
    margin: 0 auto;
	display: inline;
	align-self: center;	
  }

.hover-text-box {
	display: none;
	position: absolute;
	top: 17%;
	right: -12%;
	@media (max-width: 768px) {
		right: -20%;
	}

	width: 150%;
}

.hover-container {
	position: relative;
	display: inline-block;
}

.hover-container:hover .hover-text-box {
	display: inline-block;
}

.typing {
	animation: typing 1.28s steps(22), blink 0.6s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	font-family: monospace;
	font-size: 1.3rem;
	/* // text: "Hi, I'm Joey!", set width according to text */
	width: 13.5ch;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}
